# Ignore Python bytecode files and directories
*.pyc
*/__pycache__/

# Ignore virtual environment directories
.venv/
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore SQLite database files
*.db

# Ignore log files
*.log

# Ignore files
config.json
.vscode
config_docker.json

# Ignore files within data directory
data/*
!data/.gitkeep

# Ignore files within logs directory
logs/*
!logs/.gitkeep
DMS/Patients